/*Variables*/

/*Fonts*/
$h-font: "Domine";
$p-font: "Montserrat";

/*Colors*/
$primary: #294673;
$secondary: #2f6872;
$button: #294673;
$button-hover: #213e69;
$background: #e4d7d7;
$text: #272525;
$black: #000;
$white: #fff;

/*Fonts size*/
$h1: 3em;
$h2: 2.6em;
$h3: 2.2em;
$h4: 1.8em;
$h5: 1.4em;
$h6: 1.2em; 
$p-large: 1.1em;
$p-medium: 0.9em;
$p-small: 0.8em;