/**Fonts**/
@font-face {
    font-family: "Domine";
    src: url("../../fonts/Domine-Regular.woff");
    font-display: swap;
}

@font-face {
    font-family: "Domine";
    src: url("../../fonts/Domine-Bold.woff");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Regular.woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Bold.woff");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Italic.woff");
    font-style: italic;
    font-display: swap;
}