/*Variables*/

/*Fonts*/
$h-font: "Domine";
$p-font: "Montserrat";

/*Colors*/
$primary: #294673;
$secondary: #2f6872;
$secondary-fade: #2f6872a9;
$button: #294673;
$button-fade: #213e69;
$background: #f0f0f0;
$text: #272525;
$text-fade: #272525a9;
$dark: #151515;
$dark-fade: #151515a9;
$light: #d6d6d6;
$light-fade: #d6d6d6a9;
$message: #1d1585;
$message-fade: lighten($message, 50%);
$warning: #7e2626;
$warning-fade: lighten($warning, 50%);
$success: #143f1e;
$success-fade: lighten($success, 50%);

/*Fonts size*/
$h1: 3rem;
$h2: 2.6rem;
$h3: 2.2rem;
$h4: 1.8rem;
$h5: 1.4rem;
$h6: 1.2rem; 
$p-large: 1.1rem;
$p-medium: 0.9rem;
$p-small: 0.8rem;

/*Fonts weight*/
$fw-bold: 700;
$fw-normal: 400;

/*General design*/
$border-radius: 0.8rem;